<h2>Resultados de la simulacion</h2>

 <fieldset>
        <legend><b>Datos</b></legend>

    <b>Posiciones Iniciales:</b>
    <br>
    
    Auto 1: X: <%=@posX%> , Y: <%=@posY%> Ori.: <%=@orientacion%>
    <br>
    Auto 2: X: <%=@posX2%> , Y: <%=@posY2%> Ori.: <%=@orientacion2%>
    <br>
    Auto 3: X: <%=@posX3%> , Y: <%=@posY3%> Ori.: <%=@orientacion3%>
    <br>
    <b>Instrucciones:</b>
    Auto 1:<%=@inst%>
    <br>
    Auto 2:<%=@inst2%>
    <br>
    Auto 3:<%=@inst3%>
    <%simular()%>
    <br>
 </fieldset>

    <h3>Posicion Final: <%=@result%></h3>
    <h3>Posicion Final: <%=@result2%></h3>
    <h3>Posicion Final: <%=@result3%></h3>
